
<form id="productForm">
    <input type="text" id="productName" placeholder="Nombre del producto">
    <button onclick="createProduct()">Agregar producto</button>
</form>
<ul id="productList">
    {{#each products}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<script>
    const socket = io(); 

    function createProduct() {
        const productName = document.getElementById('productName').value;
        socket.emit('createProduct', productName);
    }

    
    socket.on('productCreated', (newProduct) => {
        const productList = document.getElementById('productList');
        const newItem = document.createElement('li');
        newItem.textContent = newProduct;
        productList.appendChild(newItem);
    });
</script>